@using Variant = MudBlazor.Variant
@inject ILocalizer Localizer

<MudStack>
    <div>
        <MudButton StartIcon="@Icons.Material.Filled.PlayArrow" Variant="Variant.Filled" Color="Color.Success" OnClick="@OnTestRunClick">@Localizer["Start"]</MudButton>
    </div>
    <MudProgressLinear Color="@(IsRunning ? Color.Success : Color.Transparent)" Indeterminate="true"/>
    <div>
        @if (!HasRun)
        {
            <MudAlert Icon="@Icons.Material.Outlined.Info">@Localizer["Select the Start button to run the activity."]</MudAlert>
        }
        else if (!IsRunning)
        {
            <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">@Localizer["Status"]</MudText>
            <DataPanel Data="Status" ShowNoDataAlert="true" NoDataMessage="No status was recorded."/>

            <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">@Localizer["State"]</MudText>
            <DataPanel Data="ActivityState" ShowNoDataAlert="true" NoDataMessage="No state was recorded."/>

            <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">@Localizer["Outcomes"]</MudText>
            <DataPanel Data="Outcomes" ShowNoDataAlert="true" NoDataMessage="No outcomes were recorded."/>

            <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">@Localizer["Output"]</MudText>
            <DataPanel Data="Output" ShowNoDataAlert="true" NoDataMessage="No output was recorded."/>
        }
    </div>
</MudStack>