@inherits StudioComponentBase

<ScrollableWell MaxHeight="VisiblePaneHeight">
    <MudStack Row="false">
        <MudTable
            T="ActivityExecutionRecordTableRow"
            Items="Items"
            Dense="true"
            Bordered="false"
            Striped="false"
            Elevation="0"
            Outlined="true"
            Hover="true"
            RowStyle="cursor: pointer;"
            OnRowClick="@OnActivityExecutionClicked">
            <HeaderContent>
                <MudTh>#</MudTh>
                <MudTh>Started</MudTh>
                <MudTh>Completed</MudTh>
                <MudTh>Duration</MudTh>
                <MudTh>Status</MudTh>
                <MudTh>Activity Instance ID</MudTh>
            </HeaderContent>
            <RowTemplate>
                @{
                    var record = context.ActivityExecutionSummary;
                }
                <MudTh>@context.Number</MudTh>
                <MudTd><Timestamp Value="record.StartedAt"/> </MudTd>
                <MudTd><Timestamp Value="record.CompletedAt"/> </MudTd>
                <MudTd>@(record.CompletedAt != null ? (record.CompletedAt - record.StartedAt).Value.ToString("g") : "")</MudTd>
                <MudTd>@record.Status</MudTd>
                <MudTd>@record.Id</MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager/>
            </PagerContent>
        </MudTable>

        @if (SelectedItem != null)
        {
            <div>
                <div>
                    <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">State</MudText>
                    <DataPanel Data="@SelectedActivityState" HideEmptyValues="false" ShowNoDataAlert="true" NoDataMessage="No state associated with this execution."/>
                </div>
                <div>
                    <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">Outcomes</MudText>
                    <DataPanel Data="@SelectedOutcomesData" HideEmptyValues="true" ShowNoDataAlert="true" NoDataMessage="No outcomes associated with this execution."/>
                </div>
                <div>
                    <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">Output</MudText>
                    <DataPanel Data="@SelectedOutputData" HideEmptyValues="false" ShowNoDataAlert="true" NoDataMessage="No output associated with this execution."/>
                </div>
            </div>
        }
    </MudStack>
</ScrollableWell>