@inherits StudioComponentBase
@using Elsa.Studio.Workflows.Services
@using Microsoft.Extensions.Localization
@inject LocalizationService _localizer

<ScrollableWell MaxHeight="VisiblePaneHeight">
    <MudStack Row="false">
        <MudTable
            T="ActivityExecutionRecordTableRow"
            Items="Items"
            Dense="true"
            Bordered="false"
            Striped="false"
            Elevation="0"
            Outlined="true"
            Hover="true"
            RowStyle="cursor: pointer;"
            OnRowClick="@OnActivityExecutionClicked">   
            <HeaderContent>
                <MudTh>#</MudTh>
                <MudTh>@_localizer["Started"]</MudTh>
                <MudTh>@_localizer["Completed"]</MudTh>
                <MudTh>@_localizer["Duration"]</MudTh>
                <MudTh>@_localizer["Status"]</MudTh>
                <MudTh>@_localizer["ActivityInstanceID"]</MudTh>
            </HeaderContent>
            <RowTemplate>
                @{
                    var record = context.ActivityExecution;
                }
                <MudTh>@context.Number</MudTh>
                <MudTd>@record.StartedAt.ToString("g")</MudTd>
                <MudTd>@record.CompletedAt?.ToString("g")</MudTd>
                <MudTd>@(record.CompletedAt != null ? (record.CompletedAt - record.StartedAt).Value.ToString("g") : "")</MudTd>
                <MudTd>@record.Status</MudTd>
                <MudTd>@record.Id</MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager/>
            </PagerContent>
        </MudTable>

        @if (SelectedItem != null)
        {
            <div>
                <div>
                    <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">@_localizer["State"]</MudText>
                    <DataPanel Data="@SelectedActivityState" HideEmptyValues="false" ShowNoDataAlert="true" NoDataMessage="@_localizer["No state associated with this execution."]"/>
                </div>
                <div>
                    <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">Outcomes</MudText>
                    <DataPanel Data="@SelectedOutcomesData" HideEmptyValues="true" ShowNoDataAlert="true" NoDataMessage="@_localizer["No outcomes associated with this execution."]"/>
                </div>
                <div>
                    <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">Output</MudText>
                    <DataPanel Data="@SelectedOutputData" HideEmptyValues="false" ShowNoDataAlert="true" NoDataMessage="@_localizer["No output associated with this execution."]"/>
                </div>
            </div>
        }
    </MudStack>
</ScrollableWell>