@inherits StudioComponentBase
@using Elsa.Studio.Workflows.Services
@using Microsoft.Extensions.Localization
@inject ElsaLocalization _localizer

@if (WorkflowDefinition != null && WorkflowInstance != null)
{
    <MudTabs Elevation="0" ApplyEffectsToContainer="true">
        <MudTabPanel Text="@_localizer["Details"]">
            <Well>
                <div>
                    <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">@_localizer["Workflow"]</MudText>
                    <DataPanel Data="WorkflowInstanceData" HideEmptyValues="true"/>
                </div>
            </Well>

            @if (WorkflowInstanceSubWorkflowData.Any())
            {
                <Well>
                    <div>
                        <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">@_localizer["Sub-Workflow"]</MudText>
                        <DataPanel Data="WorkflowInstanceSubWorkflowData" HideEmptyValues="true"/>
                    </div>
                </Well>
            }
        </MudTabPanel>
        <MudTabPanel Text="@_localizer["Variables"]">
            <VerticalWell ExtraPadding="50">
                <div>
                    @if (WorkflowVariableData.Any())
                    {
                        <DataPanel Data="WorkflowVariableData" HideEmptyValues="false"/>
                    }
                    else
                    {
                        <Well>
                            @_localizer["No variables"]
                        </Well>
                    }
                </div>
            </VerticalWell>
        </MudTabPanel>
        <MudTabPanel Text="@_localizer["Input/output"]">
            <Well>
                <div>
                    <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">@_localizer["Inputs"]</MudText>
                    @if (WorkflowInputData.Any())
                    {
                        <DataPanel Data="WorkflowInputData" HideEmptyValues="false"/>
                    }
                    else
                    {
                        <Well>
                            @_localizer["No inputs"]
                        </Well>
                    }
                </div>
                <div>
                    <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">@_localizer["Outputs"]</MudText>
                    @if (WorkflowOutputData.Any())
                    {
                        <DataPanel Data="WorkflowOutputData" HideEmptyValues="false"/>
                    }
                    else
                    {
                        <Well>
                             @_localizer["No outputs"]
                        </Well>
                    }
                </div>
            </Well>
            <Well>
                @if (SubWorkflowInputData.Any())
                {
                    <div>
                        <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">@_localizer["Sub-Workflow Inputs"]</MudText>
                        <DataPanel Data="SubWorkflowInputData" HideEmptyValues="false"/>
                    </div>
                }
                @if (SubWorkflowOutputData.Any())
                {
                    <div>
                        <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">@_localizer["Sub-Workflow Outputs"]</MudText>
                        <DataPanel Data="SubWorkflowOutputData" HideEmptyValues="false"/>
                    </div>
                }
            </Well>
        </MudTabPanel>
    </MudTabs>
}