@inherits StudioComponentBase
@using Elsa.Studio.Workflows.Services
@using Microsoft.Extensions.Localization
@inject ILocalizer Localizer

@if (WorkflowDefinition != null && WorkflowInstance != null)
{
    <MudTabs Elevation="0" ApplyEffectsToContainer="true">
        <MudTabPanel Text="@Localizer["Details"]">
            <Well>
                <div>
                    <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">@Localizer["Workflow"]</MudText>
                    <DataPanel Data="WorkflowInstanceData" HideEmptyValues="true"/>
                </div>
            </Well>

            @if (WorkflowInstanceSubWorkflowData.Any())
            {
                <Well>
                    <div>
                        <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">@Localizer["Sub-Workflow"]</MudText>
                        <DataPanel Data="WorkflowInstanceSubWorkflowData" HideEmptyValues="true"/>
                    </div>
                </Well>
            } 
        </MudTabPanel>
        <MudTabPanel Text="Incidents">
            @if (IncidentsData.Any())
            {
                <VerticalWell ExtraPadding="50">
                    <MudExpansionPanels>
                    @foreach (var incident in IncidentsData)
                    {
                        <MudExpansionPanel Text="@incident.SingleOrDefault(i=>i.Label == "Message")?.Text" Dense="false" Gutters="false" Class="incidents-custom-spacing">
                            <Well>
                                <DataPanel Data="incident" HideEmptyValues="true"/>
                            </Well>
                        </MudExpansionPanel>
                    }
                    </MudExpansionPanels>
                </VerticalWell>
            }
            else
            {
                <Well>
                    No incidents
                </Well>
            }
        </MudTabPanel>
        <MudTabPanel Text="@Localizer["Variables"]">
            <VerticalWell ExtraPadding="50">
                <div>
                    @if (WorkflowVariableData.Any())
                    {
                        <DataPanel Data="WorkflowVariableData" HideEmptyValues="false"/>
                    }
                    else
                    {
                        <Well>
                            @Localizer["No variables"]
                        </Well>
                    }
                </div>
            </VerticalWell>
        </MudTabPanel>
        <MudTabPanel Text="@Localizer["Input/output"]">
            <Well>
                <div>
                    <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">@Localizer["Inputs"]</MudText>
                    @if (WorkflowInputData.Any())
                    {
                        <DataPanel Data="WorkflowInputData" HideEmptyValues="false"/>
                    }
                    else
                    {
                        <Well>
                            @Localizer["No inputs"]
                        </Well>
                    }
                </div>
                <div>
                    <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">@Localizer["Outputs"]</MudText>
                    @if (WorkflowOutputData.Any())
                    {
                        <DataPanel Data="WorkflowOutputData" HideEmptyValues="false"/>
                    }
                    else
                    {
                        <Well>
                             @Localizer["No outputs"]
                        </Well>
                    }
                </div>
            </Well>
            <Well>
                @if (SubWorkflowInputData.Any())
                {
                    <div>
                        <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">@Localizer["Sub-Workflow Inputs"]</MudText>
                        <DataPanel Data="SubWorkflowInputData" HideEmptyValues="false"/>
                    </div>
                }
                @if (SubWorkflowOutputData.Any())
                {
                    <div>
                        <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">@Localizer["Sub-Workflow Outputs"]</MudText>
                        <DataPanel Data="SubWorkflowOutputData" HideEmptyValues="false"/>
                    </div>
                }
            </Well>
        </MudTabPanel>
    </MudTabs>
}

<style>
    .incidents-custom-spacing .mud-expand-panel-content,
    .incidents-custom-spacing .mud-expand-panel-content .pa-4
    {
        padding: 0 !important;
    }

    .incidents-custom-spacing .mud-expand-panel-header {
        padding: 6px 16px !important;
    }
</style>