@inherits StudioComponentBase
@using Elsa.Studio.Workflows.Services
@using Microsoft.Extensions.Localization
@inject ILocalizer Localizer

@if (WorkflowDefinition != null && WorkflowInstance != null)
{
    <MudTabs Elevation="0" ApplyEffectsToContainer="true">
        <MudTabPanel Text="@Localizer["Details"]">
            <Well>
                <div>
                    <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">@Localizer["Workflow"]</MudText>
                    <DataPanel Data="WorkflowInstanceData" HideEmptyValues="true"/>
                </div>
            </Well>

            @if (WorkflowInstanceSubWorkflowData.Any())
            {
                <Well>
                    <div>
                        <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">@Localizer["Sub-Workflow"]</MudText>
                        <DataPanel Data="WorkflowInstanceSubWorkflowData" HideEmptyValues="true"/>
                    </div>
                </Well>
            } 
        </MudTabPanel>
        <MudTabPanel Text="Incidents">
            @if (IncidentsData.Any())
            {
                <VerticalWell ExtraPadding="50">
                @foreach (var incident in IncidentsData)
                {
                    <Well>
                        <div>
                            <DataPanel Data="incident" HideEmptyValues="true"/>
                        </div>
                    </Well>
                }
                </VerticalWell>
            }
            else
            {
                <Well>
                    No incidents
                </Well>
            }
        </MudTabPanel>
        <MudTabPanel Text="@Localizer["Variables"]">
            <VerticalWell ExtraPadding="50">
                <div>
                    @if (WorkflowVariableData.Any())
                    {
                        <DataPanel Data="WorkflowVariableData" HideEmptyValues="false"/>
                    }
                    else
                    {
                        <Well>
                            @Localizer["No variables"]
                        </Well>
                    }
                </div>
            </VerticalWell>
        </MudTabPanel>
        <MudTabPanel Text="@Localizer["Input/output"]">
            <Well>
                <div>
                    <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">@Localizer["Inputs"]</MudText>
                    @if (WorkflowInputData.Any())
                    {
                        <DataPanel Data="WorkflowInputData" HideEmptyValues="false"/>
                    }
                    else
                    {
                        <Well>
                            @Localizer["No inputs"]
                        </Well>
                    }
                </div>
                <div>
                    <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">@Localizer["Outputs"]</MudText>
                    @if (WorkflowOutputData.Any())
                    {
                        <DataPanel Data="WorkflowOutputData" HideEmptyValues="false"/>
                    }
                    else
                    {
                        <Well>
                             @Localizer["No outputs"]
                        </Well>
                    }
                </div>
            </Well>
            <Well>
                @if (SubWorkflowInputData.Any())
                {
                    <div>
                        <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">@Localizer["Sub-Workflow Inputs"]</MudText>
                        <DataPanel Data="SubWorkflowInputData" HideEmptyValues="false"/>
                    </div>
                }
                @if (SubWorkflowOutputData.Any())
                {
                    <div>
                        <MudText Typo="Typo.overline" GutterBottom="true" Align="Align.Left">@Localizer["Sub-Workflow Outputs"]</MudText>
                        <DataPanel Data="SubWorkflowOutputData" HideEmptyValues="false"/>
                    </div>
                }
            </Well>
        </MudTabPanel>
    </MudTabs>
}