@using Variant = MudBlazor.Variant
@inherits StudioComponentBase
@using Elsa.Studio.Workflows.Services
@inject LocalizationService _localizer

<MudText Typo="Typo.overline">@_localizer["Outputs"]</MudText>
<MudStack>

    <MudButton
        StartIcon="@Icons.Material.Outlined.Add"
        Variant="Variant.Filled"
        Color="Color.Primary"
        Class="align-self-end"
        OnClick="OnAddOutputClicked"
        Disabled="IsReadonly">
        @_localizer["Add output"]
    </MudButton>

    @if (!Outputs.Any())
    {
        <MudAlert Severity="Severity.Normal" Variant="Variant.Text" Icon="@Icons.Material.Outlined.Info">@_localizer["There are currently no outputs defined."]</MudAlert>
    }
    else
    {
        <MudSimpleTable Dense="true" Bordered="false" Striped="false" Elevation="0" Outlined="true" FixedHeader="true">
            <thead>
            <tr>
                <th>@_localizer["Name"]</th>
                <th>@_localizer["Type"]</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            @foreach (var output in Outputs)
            {
                var typeDescriptor = output.Type != null ? _variableTypes.FirstOrDefault(x => x.TypeName == output.Type) : default;
                var typeName = typeDescriptor?.DisplayName ?? output.Type;
                if (output.IsArray) typeName += "[]";
                <tr>
                    <td>@output.Name</td>
                    <td>@typeName</td>
                    <td style="text-align: right;">
                        <MudMenu Icon="@Icons.Material.Filled.MoreVert" Disabled="IsReadonly">
                            <MudMenuItem Icon="@Icons.Material.Outlined.Edit" OnClick="@(() => OnEditClicked(output))">@_localizer["Edit"]</MudMenuItem>
                            <MudMenuItem Icon="@Icons.Material.Outlined.Delete" OnClick="@(() => OnDeleteClicked(output))">@_localizer["Delete"]</MudMenuItem>
                        </MudMenu>
                    </td>
                </tr>
            }
            </tbody>
        </MudSimpleTable>
    }
</MudStack>