@using MudBlazor
<div class="d-flex flex-grow-1 gap-4 align-content-start">
    <div class="flex-1">
        @if (ShowMonacoEditor)
        {
            <MudField Variant="Variant.Outlined" Label="@DisplayName" HelperText="@Description" Margin="Margin.Dense">
                <StandaloneCodeEditor 
                    @ref="_monacoEditor"
                    ConstructionOptions="ConfigureMonacoEditor" 
                    CssClass="studio-expression-input-monaco-editor"
                    OnDidInit="OnMonacoInitialized"
                    OnDidChangeModelContent="OnMonacoContentChanged" />
            </MudField>
        }
        else
        {
            @ChildContent
        }
        
    </div>
    <div class="flex-none pt-1">
        <MudMenu Label="@ButtonLabel" Icon="@ButtonIcon" Variant="@ButtonVariant" Color="@ButtonColor" EndIcon="@ButtonEndIcon" IconColor="@ButtonEndColor" Dense="true">
            @foreach (var item in SupportedSyntaxes)
            {
                var isChecked = item == _selectedSyntax;
                var iconColor = isChecked ? Color.Secondary : Color.Transparent;
                <MudMenuItem Class="studio-expression-input-menu-item" OnClick="@(() => OnSyntaxSelected(item))" Icon="@Icons.Material.Filled.Check" IconSize="Size.Small" IconColor="iconColor">@item</MudMenuItem>
            }
        </MudMenu>
    </div>
</div>