@using Variant = MudBlazor.Variant
@inherits StudioComponentBase
@using Elsa.Studio.Workflows.Services
@inject LocalizationService _localizer

<MudText Typo="Typo.overline">@_localizer["Inputs"]</MudText>
<MudStack>

    <MudButton
        StartIcon="@Icons.Material.Outlined.Add"
        Variant="Variant.Filled"
        Color="Color.Primary"
        Class="align-self-end"
        OnClick="OnAddInputClicked"
        Disabled="IsReadonly">
        @_localizer["Add input"]
    </MudButton>

    @if (!Inputs.Any())
    {
        <MudAlert Severity="Severity.Normal" Variant="Variant.Text" Icon="@Icons.Material.Outlined.Info">@_localizer["There are currently no inputs defined."]</MudAlert>
    }
    else
    {
        <MudSimpleTable Dense="true" Bordered="false" Striped="false" Elevation="0" Outlined="true" FixedHeader="true">
            <thead>
            <tr>
                <th>@_localizer["Name"]</th>
                <th>@_localizer["Type"]</th>
                <th>@_localizer["Storage"]</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            @foreach (var input in Inputs)
            {
                var storageDescriptor = input.StorageDriverType != null ? GetStorageDriverDescriptor(input.StorageDriverType) : default;
                var storageDriverName = storageDescriptor != null ? storageDescriptor.DisplayName : "None";
                var typeDescriptor = input.Type != null ? _variableTypes.FirstOrDefault(x => x.TypeName == input.Type) : default;
                var typeName = typeDescriptor?.DisplayName ?? input.Type;
                if(input.IsArray) typeName += "[]";
                <tr>
                    <td>@input.Name</td>
                    <td>@typeName</td>
                    <td>@storageDriverName</td>
                    <td style="text-align: right;">
                        <MudMenu Icon="@Icons.Material.Filled.MoreVert" Disabled="IsReadonly">
                            <MudMenuItem Icon="@Icons.Material.Outlined.Edit" OnClick="@(() => OnEditClicked(input))">@_localizer["Edit"]</MudMenuItem>
                            <MudMenuItem Icon="@Icons.Material.Outlined.Delete" OnClick="@(() => OnDeleteClicked(input))">@_localizer["Delete"]</MudMenuItem>
                        </MudMenu>
                    </td>
                </tr>
            }
            </tbody>
        </MudSimpleTable>
    }
</MudStack>