@if (IsReadOnly)
{
    <FlowchartDesigner @ref="@Designer" Flowchart="@Flowchart" ActivitySelected="@ActivitySelected" ActivityEmbeddedPortSelected="ActivityEmbeddedPortSelected" CanvasSelected="@OnCanvasSelected" IsReadOnly="true" ActivityStats="ActivityStats"/>
}
else
{
    <div class="flowchart-diagram-designer" @ondragover="@OnDragOver" @ondragover:preventDefault @ondrop="@OnDrop">
        <FlowchartDesigner @ref="@Designer" Flowchart="@Flowchart" ActivitySelected="@ActivitySelected" ActivityEmbeddedPortSelected="ActivityEmbeddedPortSelected" CanvasSelected="@OnCanvasSelected" GraphUpdated="@GraphUpdated" ActivityStats="ActivityStats"/>
    </div>
}