@if (IsReadOnly)
{
    <FlowchartDesigner @ref="@Designer" Flowchart="@Flowchart" ActivitySelected="@ActivitySelected" ActivityEmbeddedPortSelected="ActivityEmbeddedPortSelected" CanvasSelected="@OnCanvasSelected" IsReadOnly="true"/>
}
else
{
    <div class="flowchart-diagram-designer" @ondragover="@OnDragOver" @ondragover:preventDefault @ondrop="@OnDrop">
        <FlowchartDesigner @ref="@Designer" Flowchart="@Flowchart" ActivitySelected="@ActivitySelected" ActivityEmbeddedPortSelected="ActivityEmbeddedPortSelected" CanvasSelected="@OnCanvasSelected" GraphUpdated="@GraphUpdated"/>
    </div>
}