@if (IsReadOnly)
{
    <FlowchartDesigner @ref="@Designer" Flowchart="@Flowchart" OnActivitySelected="@OnActivitySelected" OnCanvasSelected="@OnCanvasSelected" IsReadOnly="true"/>
}
else
{
    <div class="flowchart-diagram-designer" @ondragover="@OnDragOver" @ondragover:preventDefault @ondrop="@OnDrop">
        <FlowchartDesigner @ref="@Designer" Flowchart="@Flowchart" OnActivitySelected="@OnActivitySelected" OnCanvasSelected="@OnCanvasSelected" OnGraphUpdated="@OnGraphUpdated"/>
    </div>
}