@using Variant = MudBlazor.Variant
<div class="pa-4">
    <EditForm EditContext="@_editContext" OnValidSubmit="OnValidSubmit">
        <FluentValidationValidator @ref="_fluentValidationValidator" Validator="_validator"/>
        <MudStack Spacing="3">
            <MudTextField T="string" Label="Name" Required="true" Variant="Variant.Outlined" HelperText="The name of the workflow." @bind-Value="@_propertiesModel.Name" For="@(() => _propertiesModel.Name)" OnBlur="ValidateForm"></MudTextField>
            <MudTextField T="string" Label="Description" Variant="Variant.Outlined" HelperText="A brief description of the workflow." Lines="4" @bind-Value="@_propertiesModel.Description" For="@(() => _propertiesModel.Description)"></MudTextField>
        </MudStack>
    </EditForm>
</div>