@using Variant = MudBlazor.Variant
@using Elsa.Studio.Workflows.Contracts
@using Elsa.Api.Client.Resources.ActivityDescriptors.Models
@using System.Text.Json.Nodes
@using System.Text.Json
@using Elsa.Studio.Workflows.Models
@inject IActivityDescriptorService ActivityDescriptorService

<MudTabs Elevation="0" ApplyEffectsToContainer="true">
    <MudTabPanel Text="Activities">
        <div class="pa-4">
            <MudStack Spacing="3">
                <MudTextField @bind-Value="@_searchText"
                              Placeholder="Search..."
                              Variant="Variant.Outlined"
                              Margin="Margin.Dense"
                              Adornment="Adornment.End"
                              AdornmentIcon="@Icons.Material.Filled.Search"
                              Clearable="true">
                </MudTextField>

                <div class="pa-2" style="overflow-y: scroll; max-height: calc(100vh - var(--mud-appbar-height) - 69px);">
                    <MudExpansionPanels Elevation="1">
                        @foreach (var grouping in _groupedActivityDescriptors.OrderBy(x => x.Key))
                        {
                            var activityDescriptors = grouping.OrderBy(x => x.DisplayName ?? x.Name).ToList();
                            var category = grouping.Key;

                            <MudExpansionPanel Text="@category">
                                <MudStack>
                                    @foreach (var activityDescriptor in activityDescriptors)
                                    {
                                        <MudTooltip Text="@activityDescriptor.Description">
                                            <MudPaper
                                                Class="pa-3 cursor-grab"
                                                Style="border-left: solid 6px var(--mud-palette-primary); filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));"
                                                Width="fit-content"
                                                Outlined="true"
                                                draggable="true"
                                                @ondragstart="@(() => OnDragStart(activityDescriptor))">
                                                <MudStack Row="true">
                                                    <MudIcon Icon="@DashboardIcons.Tabler.PenTool"></MudIcon>
                                                    @(activityDescriptor.DisplayName ?? activityDescriptor.Name)
                                                </MudStack>
                                            </MudPaper>
                                        </MudTooltip>
                                    }
                                </MudStack>
                            </MudExpansionPanel>
                        }
                    </MudExpansionPanels>
                </div>
            </MudStack>
        </div>
    </MudTabPanel>
</MudTabs>

@code
{
    private string _searchText = "";
    private IEnumerable<IGrouping<string, ActivityDescriptor>> _groupedActivityDescriptors = Enumerable.Empty<IGrouping<string, ActivityDescriptor>>();

    [CascadingParameter]
    public DragDropManager DragDropManager { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await GetActivityDescriptorsAsync();
    }

    private async Task GetActivityDescriptorsAsync()
    {
        var activities = await ActivityDescriptorService.ListAsync();
        activities = activities.Where(x => x.IsBrowsable);
        _groupedActivityDescriptors = activities.GroupBy(x => x.Category).ToList();
    }

    private void OnDragStart(ActivityDescriptor activityDescriptor)
    {
        DragDropManager.Payload = activityDescriptor;
    }
}