@using System.Text.Json
@using Elsa.Api.Client.Resources.ActivityDescriptors.Models
@using Elsa.Api.Client.Resources.WorkflowDefinitions.Models
@using Elsa.Api.Client.Shared.Models
@using Elsa.Studio.Workflows.Core.Contracts
@using Elsa.Studio.Workflows.Designer.Contracts
@using Elsa.Studio.Workflows.Designer.Models
@using Elsa.Studio.Workflows.Models
<MudPaper Class="ma-2" Elevation="0" Outlined="true">
    <MudToolBar Dense="true">
        <MudTooltip Text="Zoom to fit the screen">
            <MudIconButton Icon="@Icons.Material.Outlined.FitScreen" Title="Zoom to fit" OnClick="OnZoomToFitClick"/>
        </MudTooltip>
        <MudTooltip Text="Center">
            <MudIconButton Icon="@Icons.Material.Filled.FilterCenterFocus" Title="Center" OnClick="OnCenterContentClick"/>
        </MudTooltip>
        <MudTooltip Text="Auto layout">
            <MudIconButton Icon="@Icons.Material.Outlined.AutoAwesomeMosaic" Title="Auto layout"/>
        </MudTooltip>
        <MudTooltip Text="Save">
            <MudIconButton Icon="@Icons.Material.Outlined.Save" Title="Save" OnClick="OnSaveClick"/>
        </MudTooltip>
    </MudToolBar>
</MudPaper>
<div @ondragover="@OnDragOver" @ondragover:preventDefault @ondrop="@OnDrop">
    @{
        var rootActivity = WorkflowDefinition?.Root;

        if (rootActivity is Flowchart flowchart)
        {
            <FlowchartDesigner @ref="@_designer" Flowchart="@flowchart"></FlowchartDesigner>
        }
    }
</div>