@inherits StudioComponentBase
@using Elsa.Studio.Workflows.Services
@using Variant = MudBlazor.Variant
@using Microsoft.Extensions.Localization
@inject ElsaLocalization _localizer

@if (IsReadOnlyMode)
{
    <MudAlert Severity="Severity.Warning" Variant="Variant.Filled" Square="true" Class="py-1" Icon="@Icons.Material.Filled.EnergySavingsLeaf">@_localizer["You are running in read-only mode. Workflow operations are disabled"].</MudAlert>
}

<MudContainer MaxWidth="MaxWidth.False">
    <PageHeading Text="@_localizer["Workflowdefinition"]" />

    <div id="workflow-file-upload-button-wrapper" class="d-none">
        <MudFileUpload T="IReadOnlyList<IBrowserFile>" FilesChanged="@OnFilesSelected"/>
    </div>

    <MudTable
        @ref="_table"
        T="WorkflowDefinitionRow"
        ServerData="ServerReload"
        Dense="true"
        Hover="true"
        Elevation="0"
        OnRowClick="@OnRowClick"
        RowStyle="cursor: pointer;"
        MultiSelection="true"
        SelectOnRowClick="false"
        Class="definitions-table"
        @bind-SelectedItems="_selectedRows">
        <ToolBarContent>
            <MudMenu EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Label="@_localizer["Bulkactions"]" Color="Color.Default" Variant="Variant.Filled">
                <MudMenuItem Disabled="IsReadOnlyMode" OnClick="@OnBulkDeleteClicked">@_localizer["Delete"]</MudMenuItem>
                <MudMenuItem Disabled="IsReadOnlyMode" OnClick="@OnBulkPublishClicked">@_localizer["Publish"]</MudMenuItem>
                <MudMenuItem Disabled="IsReadOnlyMode" OnClick="@OnBulkRetractClicked">@_localizer["Unpublish"]</MudMenuItem>
                <MudMenuItem OnClick="@OnBulkExportClicked">@_localizer["Export"]</MudMenuItem>
            </MudMenu>
            <MudSpacer/>

            <MudTextField
                T="string"
                Text="@SearchTerm"
                Placeholder="@_localizer["SearchPlaceHolder"]"
                Variant="Variant.Outlined"
                AdornmentIcon="@Icons.Material.Outlined.Search"
                Adornment="Adornment.End"
                Clearable="true"
                DebounceInterval="1500"
                Immediate="true"
                Class="d-flex flex-row justify-end align-end gap-3 flex-wrap pl-2 pr-6 py-6 mt-0"
                Style="height: 36.5px;"
                ValueChanged="@OnSearchTermChanged"/>

            <MudButtonGroup Color="@(IsReadOnlyMode ? Color.Default : Color.Primary)" Variant="Variant.Filled" DropShadow="true">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@OnCreateWorkflowClicked" Disabled="IsReadOnlyMode">@_localizer["Createworkflow"]</MudButton>
                <MudMenu Icon="@Icons.Material.Filled.ArrowDropDown" Disabled="IsReadOnlyMode">
                    <MudTooltip Text="Upload JSON and/or ZIP files containing workflow data to import." Inline="false" Delay="1000">
                        <MudMenuItem Icon="@Icons.Material.Filled.FileUpload" OnClick="@OnImportClicked">@_localizer["Import"]</MudMenuItem>
                    </MudTooltip>
                </MudMenu>
            </MudButtonGroup>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>
                <MudTableSortLabel SortLabel="ID" T="WorkflowDefinitionRow">@_localizer["Definition ID"]</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortLabel="Name" T="WorkflowDefinitionRow">@_localizer["Name"]</MudTableSortLabel>
            </MudTh>
            <MudTh Style="text-align:left">
                <MudTableSortLabel SortLabel="LatestVersion" T="WorkflowDefinitionRow" Style="text-align: right;">@_localizer["Latestversion"]</MudTableSortLabel>
            </MudTh>
            <MudTh Style="text-align:left">
                <MudTableSortLabel SortLabel="PublishedVersion" T="WorkflowDefinitionRow" Style="text-align: right;">@_localizer["Publishedversion"]</MudTableSortLabel>
            </MudTh>
            <MudTh>
                @_localizer["Description"]
            </MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="ID">@context.DefinitionId</MudTd>
            <MudTd DataLabel="Name">
                <MudTooltip Text="@context.Name">
                    <div style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                        @context.Name
                    </div>
                </MudTooltip>
            </MudTd>
            <MudTd DataLabel="Latest version" Style="text-align:left">@context.LatestVersion</MudTd>
            <MudTd DataLabel="Published version" Style="text-align:left">@(context.PublishedVersion?.ToString() ?? "-")</MudTd>
            <MudTd DataLabel="Description">
                <MudTooltip Text="@context.Description">
                    <div style="max-width: 400px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                        @context.Description
                    </div>
                </MudTooltip>
            </MudTd>
            <MudTd DataLabel="" Style="text-align:right">
                <MudMenu Icon="@Icons.Material.Filled.MoreVert">
                    @if (!IsReadOnlyMode && !context.IsReadOnlyMode)
                    {
                        <MudMenuItem Icon="@Icons.Material.Outlined.Edit" OnClick="@(() => OnEditClicked(context.DefinitionId))">@_localizer["Edit"]</MudMenuItem>
                    }
                    else
                    {
                        <MudMenuItem Icon="@Icons.Material.Outlined.Pageview" OnClick="@(() => OnEditClicked(context.DefinitionId))">@_localizer["View"]</MudMenuItem>
                    }
                    <MudMenuItem Icon="@Icons.Material.Outlined.PlayArrow" OnClick="@(() => OnRunWorkflowClicked(context))">@_localizer["Run"]</MudMenuItem>
                    <MudMenuItem Icon="@Icons.Material.Outlined.Delete" OnClick="@(() => OnDeleteClicked(context))" Disabled="IsReadOnlyMode || context.IsReadOnlyMode">@_localizer["Delete"]</MudMenuItem>
                    <MudMenuItem Icon="@Icons.Material.Outlined.Cancel" OnClick="@(() => OnCancelClicked(context))">@_localizer["Cancel"]</MudMenuItem>
                    <MudDivider DividerType="DividerType.FullWidth"></MudDivider>
                    <MudMenuItem Icon="@Icons.Material.Outlined.CloudUpload" OnClick="@(() => OnPublishClicked(context.DefinitionId))" Disabled="IsReadOnlyMode || context.IsReadOnlyMode">@_localizer["Publish"]</MudMenuItem>
                    <MudMenuItem Icon="@Icons.Material.Outlined.CloudDownload" OnClick="@(() => OnRetractClicked(context.DefinitionId))" Disabled="IsReadOnlyMode || context.IsReadOnlyMode">@_localizer["Unpublish"]</MudMenuItem>
                    <MudDivider DividerType="DividerType.FullWidth"></MudDivider>
                    <MudMenuItem Icon="@Icons.Material.Filled.FileDownload" OnClick="@(() => OnDownloadClicked(context))">@_localizer["Export"]</MudMenuItem>

                </MudMenu>
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>@_localizer["No workflow definitions found"]</MudText>
        </NoRecordsContent>
        <LoadingContent>
            <MudText>@_localizer["Loading"]...</MudText>
        </LoadingContent>
        <PagerContent>
            <MudTablePager RowsPerPageString="@_localizer["RowsPerPage"]" />
        </PagerContent>
    </MudTable>
</MudContainer>

<style>
    .definitions-table .mud-table-cell .mud-checkbox {
        margin: 0;
    }

    .definitions-table .mud-table-toolbar {
        margin-bottom: 12px; /*mb-3*/
    }
</style>
