@using Elsa.Studio.Shell.Shared
@using System.Reflection
@using Elsa.Studio.Contracts
@inject IMenuService MenuService

@code {

    private IEnumerable<Assembly> _additionalAssemblies = default!;

    protected override void OnInitialized()
    {
        _additionalAssemblies = MenuService.GetMenuAssemblies();
    }

}

<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="@_additionalAssemblies">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>