@using Elsa.Studio.Workflows.Services
@using Variant = MudBlazor.Variant
@using Elsa.Api.Client.Extensions
@inherits StudioComponentBase
@using Microsoft.Extensions.Localization
@inject ElsaLocalization _localizer

<div class="pa-4">
    @if (Activity != null && ActivityDescriptor != null)
    {
        <MudForm ReadOnly="IsReadOnly">
            <MudStack Spacing="5">
                <MudField Disabled="IsReadOnly"
                    T="string"
                    Label="ID"
                    HelperText="@_localizer["The ID of the activity."]"
                    Variant="Variant.Outlined">
                    <MudText Typo="Typo.body1">@Activity.GetId()</MudText>
                </MudField>

                <MudTextField
                    T="string"
                    Label="@_localizer["Name"]"
                    HelperText="@_localizer["The name of the activity. Named activities can be referenced by other activities."]"
                    Value="@Activity.GetName()"
                    Variant="Variant.Outlined"
                    ValueChanged="OnActivityNameChanged"
                    ReadOnly="IsReadOnly"
                    Disabled="IsReadOnly"/>

                <MudTextField
                    T="string"
                    Label="@_localizer["Display text"]"
                    HelperText="The text to display in the designer."
                    Value="@Activity.GetDisplayText()"
                    Variant="Variant.Outlined"
                    ValueChanged="OnActivityDisplayTextChanged"
                    ReadOnly="IsReadOnly"
                    Disabled="IsReadOnly"/>

                <MudTextField
                    T="string"
                    Label="@_localizer["Description"]"
                    HelperText="@_localizer["A description of this activity to be displayed in the designer."]"
                    Value="@Activity.GetDescription()"
                    Variant="Variant.Outlined"
                    Lines="3"
                    ValueChanged="OnActivityDescriptionChanged"
                    ReadOnly="IsReadOnly"
                    Disabled="IsReadOnly"/>

                <MudField
                    Variant="Variant.Text"
                    HelperText="@_localizer["Whether to show the description in the designer."]"
                    Margin="Margin.None"
                    Underline="@true"
                    Disabled="IsReadOnly">
                    <MudCheckBox
                        T="bool?"
                        Label="Show description"
                        Dense="@true"
                        Value="@(Activity.GetShowDescription() == true)"
                        ValueChanged="OnShowDescriptionChanged"/>
                </MudField>
                
                <MudField
                    Variant="Variant.Text"
                    UnderLine="@true"
                    Margin="Margin.None"
                    HelperText="@(IsTrigger ? "When checked, this activity can trigger this workflow." : "When checked, this activity is the start of this workflow.")"
                    Disabled="IsReadOnly">
                    <MudCheckBox
                        T="bool?"
                        Label="@(IsTrigger ? @_localizer["Trigger workflow"] : @_localizer["Start of workflow"])"
                        Dense="@true"
                        Value="@(Activity.GetCanStartWorkflow() == true)"
                        ValueChanged="OnCanStartWorkflowChanged"/>
                </MudField>

            </MudStack>
        </MudForm>
    }
</div>