@using Variant = MudBlazor.Variant
@using Elsa.Api.Client.Extensions
@using Elsa.Studio.Workflows.Services
@inject ILocalizer Localizer
<div class="pa-2">
    <MudForm>
        <MudStack Spacing="3">
            <MudField
                Variant="@Variant.Text"
                HelperText="@Localizer["When checked, the workflow will be executed asynchronously."]"
                Margin="Margin.None"
                Underline="true">
                <MudCheckBox
                    T="bool?"
                    Label="@Localizer["Run Asynchronously"]"
                    Dense="@true"
                    Value="@(Activity?.GetRunAsynchronously() == true)"
                    ValueChanged="OnRunAsynchronouslyChanged"
                    ReadOnly="IsReadOnly" Disabled="IsReadOnly"
                    />
            </MudField>
        </MudStack>
    </MudForm>
</div>