<div @ondragover="@OnDragOver" @ondragover:preventDefault @ondrop="@OnDrop">
    <FlowchartDesigner @ref="@_designer" Flowchart="@Flowchart" OnActivitySelected="@OnActivitySelected" OnCanvasSelected="@OnCanvasSelected" OnGraphUpdated="@OnGraphUpdated"></FlowchartDesigner>
</div>